<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.efreight.afbase.dao.ReportPayableAgeMapper">

    <resultMap id="payableForAFrm1" type="java.util.LinkedHashMap">
    </resultMap>

    <resultMap id="payableForAFrm2" type="java.util.LinkedHashMap">
    </resultMap>

    <resultMap id="payableForSCrm1" type="java.util.LinkedHashMap">
    </resultMap>

    <resultMap id="payableForSCrm2" type="java.util.LinkedHashMap">
    </resultMap>

</mapper>